<a href="https://colab.research.google.com/github/shrad1997/Recommendation_System/blob/main/Recommendation__System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_book=pd.read_csv('/content/book (1).csv', encoding='latin-1')

In [3]:
df_book.head(5)

   Unnamed: 0  ...  Book.Rating
0           1  ...            5
1           2  ...            3
2           3  ...            6
3           4  ...            8
4           5  ...            6

[5 rows x 4 columns]

In [4]:
df_book.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User.ID      10000 non-null  int64
 1   Book.Title   10000 non-null  object
 2   Book.Rating  10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 234.5+ KB

In [6]:
df_book.rename(columns={'User.ID':'User_ID','Book.Title':'Book_Title','Book.Rating':'Book_Rating'},inplace=True)

In [7]:
df_book.head(5)

   User_ID                                         Book_Title  Book_Rating
0   276726                                Classical Mythology            5
1   276729                                       Clara Callan            3
2   276729                               Decision in Normandy            6
3   276736  Flu: The Story of the Great Influenza Pandemic...            8
4   276737                             The Mummies of Urumchi            6

In [8]:
len(df_book.User_ID.unique())

2182

In [9]:
len(df_book.Book_Title.unique())

9659

In [10]:
book = df_book.reset_index().pivot_table(index='User_ID',
                                 columns='Book_Title',
                                 values='Book_Rating').reset_index(drop=True)

In [11]:
book.shape

(2182, 9659)

In [12]:
book

Book_Title   Jason, Madison &amp  ...  Ã?Â?bermorgen.
0                            NaN  ...             NaN
1                            NaN  ...             NaN
2                            NaN  ...             NaN
3                            NaN  ...             NaN
4                            NaN  ...             NaN
...                          ...  ...             ...
2177                         NaN  ...             NaN
2178                         NaN  ...             NaN
2179                         NaN  ...             NaN
2180                         NaN  ...             NaN
2181                         NaN  ...             NaN

[2182 rows x 9659 columns]

In [13]:
# Replacing the index values by unique user Ids
book.index=df_book['User_ID'].unique()
book

Book_Title   Jason, Madison &amp  ...  Ã?Â?bermorgen.
276726                       NaN  ...             NaN
276729                       NaN  ...             NaN
276736                       NaN  ...             NaN
276737                       NaN  ...             NaN
276744                       NaN  ...             NaN
...                          ...  ...             ...
162107                       NaN  ...             NaN
162109                       NaN  ...             NaN
162113                       NaN  ...             NaN
162121                       NaN  ...             NaN
162129                       NaN  ...             NaN

[2182 rows x 9659 columns]

In [14]:
#Impute those NaNs with 0 values
book.fillna(0, inplace=True)

In [15]:
book.head(5)

Book_Title   Jason, Madison &amp  ...  Ã?Â?bermorgen.
276726                       0.0  ...             0.0
276729                       0.0  ...             0.0
276736                       0.0  ...             0.0
276737                       0.0  ...             0.0
276744                       0.0  ...             0.0

[5 rows x 9659 columns]

In [16]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [17]:
user_sim = 1 - pairwise_distances(book.values,metric='cosine')

In [18]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [19]:
similar_user_df=pd.DataFrame(user_sim)

In [20]:
#Set the index and column names to user ids 
similar_user_df.index =book.index.unique()
similar_user_df.columns =book.index.unique()

In [21]:
similar_user_df.iloc[0:5,0:5]

        276726  276729  276736  276737  276744
276726     1.0     0.0     0.0     0.0     0.0
276729     0.0     1.0     0.0     0.0     0.0
276736     0.0     0.0     1.0     0.0     0.0
276737     0.0     0.0     0.0     1.0     0.0
276744     0.0     0.0     0.0     0.0     1.0

In [25]:
# for Nullyfying diagonal values
np.fill_diagonal(user_sim, 0)
similar_user_df.iloc[0:5,0:5]

        276726  276729  276736  276737  276744
276726     0.0     0.0     0.0     0.0     0.0
276729     0.0     0.0     0.0     0.0     0.0
276736     0.0     0.0     0.0     0.0     0.0
276737     0.0     0.0     0.0     0.0     0.0
276744     0.0     0.0     0.0     0.0     0.0

In [28]:
#Most Similar Users
similar_user_df.idxmax(axis=1)[0:30]

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
276745    276726
276747    276726
276748    161677
276751    276726
276754    276726
276755    276726
276760    276726
276762    276726
276768    276726
276772      1491
276774    278543
276780    276726
276786    276726
276788    276726
276796    276726
276798    276726
276800    276726
276804    276726
276808    276726
276811    276726
276812    277533
276813      3546
276814    277828
276820      3462
276822    276726
dtype: int64

In [27]:
df_book[(df_book['User_ID']==1491) | (df_book['User_ID']==276772)]

      User_ID                                         Book_Title  Book_Rating
22     276772  If I'd Known Then What I Know Now: Why Not Lea...            7
23     276772  Mary-Kate &amp; Ashley Switching Goals (Mary-K...           10
24     276772                       Tell Me This Isn't Happening           10
4107     1491                                     Fifth business            7

In [30]:
user_1=df_book[df_book['User_ID']==1491] 
user_2=df_book[df_book['User_ID']==276772]

In [31]:
user_2.Book_Title

22    If I'd Known Then What I Know Now: Why Not Lea...
23    Mary-Kate &amp; Ashley Switching Goals (Mary-K...
24                         Tell Me This Isn't Happening
Name: Book_Title, dtype: object

In [32]:
user_1.Book_Title

4107    Fifth business
Name: Book_Title, dtype: object

In [34]:
pd.merge(user_1,user_2,on='Book_Title',how='outer')

   User_ID_x  ... Book_Rating_y
0     1491.0  ...           NaN
1        NaN  ...           7.0
2        NaN  ...          10.0
3        NaN  ...          10.0

[4 rows x 5 columns]